.central-frame {
  background-color: #332e2e;
  height: 550px;
  width: 800px;
  position: absolute;
  top: 15%;
  left: 610px;
  border-color: #1b1a1a;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.left-menu {
  background-color: white;
  width: 500px;
  height: 100px;
  float: left;
}

.chat {
}
