.central-frame {
    background-color: #332e2e;
    height: 600px;
    width: 800px;
    position: absolute;
    top: 15%;
    left: 610px;
    border-color: #1b1a1a;
    border-radius: 10px;
}

.field-label {
    color: white;
}

.headline {
    color: white;
    position: relative;
    left: 32%;
    font-size: 170%;
}

.log-in-text {
    color: #b7b3b3;
}

.validation-label {
    color: red;
}
