.contact-field {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
}

.date {
    position: absolute;
    left: 380px;
}

.images {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.font {
    color: white;
}
