.contact-image {
    height: 73px;
    width: 73px;
    border-radius: 50px;
}

.contact-block {
    top: 0px;
    background-color: #4a4747;
    height: 8vh;
    width: 850px;
    border-radius: 5px;
}

.display-name {
    font-size: 30px;
    color: white;
}
